<app-header></app-header>
<app-navigation-header titulo="Interacciones medicamentosas"></app-navigation-header>

<ion-content class="ion-padding">

    <ion-searchbar color="light" placeholder="Medicamento, Sustancia, CIE-10, Laboratorio"></ion-searchbar>

    <ion-list class="bckgrList">
        <ion-item color="tertiary" detail>
            <div class="icon-search-engine-list">
                <img src="./assets/images/searchEngine/icono-medicamentos.svg">
            </div>
            <ion-label>Medicamentos</ion-label>
            <ion-badge slot="end" color="secondary" > 99 </ion-badge>
        </ion-item>
        
        <ion-item color="tertiary" detail>
            <div class="icon-search-engine-list">
                <img src="./assets/images/searchEngine/icono-sustancias.svg">
            </div>
            <ion-label>Sustancias</ion-label>
            <ion-badge slot="end" color="secondary" > 0 </ion-badge>
        </ion-item>
        
        <ion-item color="tertiary" detail>
            <div class="icon-search-engine-list">
                <img src="./assets/images/searchEngine/icono-cie-10.svg">
            </div>
            <ion-label>CIE-10</ion-label>
            <ion-badge slot="end" color="secondary" > 0 </ion-badge>
        </ion-item>
        
        <ion-item color="tertiary" detail>
            <div class="icon-search-engine-list">
                <img src="./assets/images/searchEngine/icono-laboratorios.svg">
            </div>
            <ion-label>Laboratorios</ion-label>
            <ion-badge slot="end" color="secondary" > 0 </ion-badge>
        </ion-item>
    </ion-list>

</ion-content>
