<app-header></app-header>
<app-navigation-header titulo="Abstracts"></app-navigation-header>

<ion-content class="ion-padding">
    
    <ion-list>
        <ion-item detail color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                Odit itaque, totam accusantium nemo eum praesentium unde quo est assumenda officia.
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
