<app-header></app-header>
<app-navigation-header titulo="Contenido editorial"></app-navigation-header>

<ion-content>
    <div class="container">

      <div class="row justify-content-center ion-text-center">
        <div class="col-auto" routerLink="/articulos-medicos">
            <img class="iconosVarios" src="./assets/images/iconoArticulosMedicos.svg">
            <p class="nombreSeccion">Articulos médicos</p>
        </div>
        <div class="col-auto" routerLink="/abstracts">
            <img class="iconosVarios" src="./assets/images/iconoAbstracts.svg">
            <p class="nombreSeccion">Abstracts</p>
        </div>
        <div class="col-auto" routerLink="/guias-practica-clinica">
            <img class="iconosVarios" src="./assets/images/iconoGuiasPracticas.svg">
            <p class="nombreSeccion">Guías de práctica clínica</p>
        </div>
      </div>
        
    </div>
</ion-content>
