ion-label.labelFormReg{
    font-size: 1rem !important;
}

h1 {
    color: #AA0A2E;
    font-size: 0.75rem !important;
    margin: 1rem;
    text-align: right;
}
h1.alert {
    color: #AA0A2E;
    font-size: 0.75rem !important;
    margin: 1rem;
    text-align: left;
}