<app-header></app-header>
<app-navigation-header titulo="Calculadoras"></app-navigation-header>

<ion-content class="ion-padding">
    
    <ion-list>
        <ion-item detail color="tertiary">
            <ion-label>
                Calidad de vida para pacientes con estreñimiento (CVE-20)
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Enfermedad por reflujo gastroesfoágico (GERDQ)
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Calculadora de riesgo de osteoporosis
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                CoMiSS: Puntuación de las manifestaciones relacionadas a la leche de vaca (APLV)
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Mini evaluación nutricional® (MNA®)
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Diagnóstico de síndrome metabólico en niños y adolescentes (Criterios International Diabetes Federation)
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Diagnóstico de síndrome metabólico (Criterios OMS)
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Índice de masa corporal (IMC)
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Índice de Masa Corporal (IMC) en Pediatría
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Medicamentos que interfieren con las pruebas de alergia (pediatría)
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Evaluación de la severidad y la respuesta al tratamiento de la urticaria (UAS7)
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Síndrome del intestino irritable (ROMA)
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Sistema de gradación para reacciones alérgicas de la Organización Mundial de la Alergia (WAO)
            </ion-label>
        </ion-item>
        <ion-item detail color="tertiary">
            <ion-label>
                Cuestionario para el tratamiento de mujeres postmenopáusica con osteoporósis (National Osteoporosis Foundation)
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
