<app-header></app-header>
<app-navigation-header titulo="Nestlé"></app-navigation-header>

<ion-content>
    <div class="container">

        <div class="row justify-content-center ion-text-center">
            <div class="col-auto" routerLink="/ippa">
                <img class="iconosVarios" src="./assets/images/medicamentoUno.svg">
                <p class="nombreSeccion">BOOST Original</p>
            </div>
            <div class="col-auto" routerLink="/ippa">
                <img class="iconosVarios" src="./assets/images/medicamentoDos.svg">
                <p class="nombreSeccion">BOOST Alto en proteína</p>
            </div>
            <div class="col-auto" routerLink="/ippa">
                <img class="iconosVarios" src="./assets/images/medicamentoUno.svg">
                <p class="nombreSeccion">BOOST menos azúcar</p>
            </div>
            <div class="col-auto" routerLink="/ippa">
                <img class="iconosVarios" src="./assets/images/medicamentoDos.svg">
                <p class="nombreSeccion">CASE by BOOST</p>
            </div>
            <div class="col-auto" routerLink="/ippa">
                <img class="iconosVarios" src="./assets/images/medicamentoUno.svg">
                <p class="nombreSeccion">Althéra</p>
            </div>
            <div class="col-auto" routerLink="/ippa">
                <img class="iconosVarios" src="./assets/images/medicamentoDos.svg">
                <p class="nombreSeccion">Alfaré</p>
            </div>
            <div class="col-auto" routerLink="/ippa">
                <img class="iconosVarios" src="./assets/images/medicamentoUno.svg">
                <p class="nombreSeccion">Alfamino</p>
            </div>
            <div class="col-auto" routerLink="/ippa">
                <img class="iconosVarios" src="./assets/images/medicamentoDos.svg">
                <p class="nombreSeccion">Peptamen Junior</p>
            </div>
            <div class="col-auto" routerLink="/ippa">
                <img class="iconosVarios" src="./assets/images/medicamentoUno.svg">
                <p class="nombreSeccion">OPTIFIBRE</p>
            </div>
        </div>
        
    </div>
</ion-content>
