<app-header></app-header>

<app-navigation-header titulo="Créditos"></app-navigation-header>

<ion-content class="ion-padding">
    <div class="ion-margin-horizontal">
        <h1><b>PLM Nutrición</b></h1>
        <p class="infoCenter"><em>Versión 0.0.0.</em></p>
        <ion-img src="./assets/images/iconoApp.jpg"></ion-img>
        <p class="infoCenter"><b>© 2019 PLM MÉXICO S.A DE C.V.</b></p> 
        <P class="infoCenter"><b>Todos los Derechos Reservados.</b></P>
    </div>

        <ion-button class="btnFormulario"
        color="secondary" 
        expand="block"
        size="small"
        mode="ios">Créditos</ion-button>

</ion-content>
