ion-img.imgLogoProductShot{
    width: 75%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    padding-top: 1rem;
}

button.btnRubro{
    color: #0FB1D2;
    white-space: normal;
}

h1.nombreProducto{
    font-size: 1rem;
    color: #0FB1D2;
    text-align: center
}

p.formaFarma{
    font-size: 0.75rem;
    color: #5b5b5b;
    text-align: center;
    margin-bottom: 0.5rem;
}

.titSustancia{
    font-size: 1rem;
    color: #0FB1D2;
    text-align: center;
}

ion-icon{
    color: #0FB1D2;
}