<app-header></app-header>


<ion-content>
  <ion-grid>
    <ion-row class="contentLogoCliente" size="3">
    </ion-row>

    <ion-row class="contentBtnMenu">
      
      <ion-col class="btnMenuPrincipal" routerLink="/interacciones-medicamentosas">
          <img src="/assets/images/iconoInteracciones.svg">
          <p class="seccionNombre">Interacciones</p>
      </ion-col>
      

      <ion-col class="btnMenuPrincipal" routerLink="/nestle">
          <img src="/assets/images/iconoNestle.svg">
      </ion-col>

      <ion-col class="btnMenuPrincipal" routerLink="/contenido-editorial">
        <img src="/assets/images/iconoContenidoEditorial.svg">
        <p class="seccionNombre">Contenido Editorial</p>
      </ion-col>
        
     
    
    </ion-row>
    
    <ion-row class="contentBtnMenu ion-align-items-center">
        <ion-col class="btnMenuPrincipal" routerLink="/atlas">
            <img src="/assets/images/iconoAtlas.svg">
            <p class="seccionNombre">Atlas</p>
        </ion-col>
      
      
      <ion-col class="btnMenuPrincipal" routerLink="/herramientas-medicas">
        <img src="/assets/images/iconoHerramientasMedicas.svg">
        <p class="seccionNombre">Herramientas Medicas</p>
      </ion-col>
      
      <ion-col class="btnMenuPrincipal" routerLink="/formulario-solicitud-representante">
          <img src="/assets/images/iconoSolicitudRepresentante.svg"> 
          <p class="seccionNombre">Solicitud de representante médico</p>
      </ion-col>

    </ion-row>

          
  </ion-grid>

</ion-content>
