<app-header></app-header>
<app-navigation-header titulo="Interacciones medicamentosas"></app-navigation-header>

<ion-content>
    <div class="container">

        <div class="row justify-content-center ion-text-center">
            <div class="col-auto" routerLink="/interaction-search-engine">
                <img class="iconosVarios" src="./assets/images/iconoMedicamentoAlimento.svg">
                <p class="nombreSeccion">Medicamento - alimento</p>
            </div>
            <div class="col-auto" routerLink="/interactions">
                <img class="iconosVarios" src="./assets/images/iconoMedicamentoMedicamento.svg">
                <p class="nombreSeccion">Medicamento - medicamneto</p>
            </div>
            
        </div>
    </div>
</ion-content>