<app-header></app-header>
<app-navigation-header titulo="Contacto"></app-navigation-header>

<ion-content class="ion-padding">
    <div class="ion-margin-horizontal">
      
      <h1><b>PLM México, S.A. de C.V.</b></h1>
      <p class="infoLeft"><b>Dirección:</b></p>
      <p class="infoLeft ion-padding-start">Barranca del Muerto #8,</p>
      <p class="infoLeft ion-padding-start">Col. Crédito Constructor,</p>
      <p class="infoLeft ion-padding-start">C.P. 03940</p>
      <p class="infoLeft ion-padding-start">México</p>
      <P class="infoLeft"><b>Teléfono:</b> 555480 7800</P>
      <P class="infoLeft"><b>Correo electrónico:</b> contacto@plmlatina.com</P>
  
    </div>
</ion-content>
