<app-header></app-header>
<app-navigation-header titulo="Atlas"></app-navigation-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-intoleranciaLactosa.png">
      </ion-thumbnail>
      <ion-label>Intolerancia a la lactosa</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-RolDisfagia.png">
      </ion-thumbnail>
      <ion-label>Rol de la disfagia en el desarrollo de la malnutrición en adultos mayores</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-FactoresInmunosenescencia.png">
      </ion-thumbnail>
      <ion-label>Factores que influencian la inmunosenescencia</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-CriteriosDiagnSindrome.png">
      </ion-thumbnail>
      <ion-label>Criterios diagnósticos de síndrome metabólico en niños</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon> 
    </ion-item>

    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-Sarcopenia.png">
      </ion-thumbnail>
      <ion-label>Sarcopenia</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-ERGE.png">
      </ion-thumbnail>
      <ion-label>Enfermedad de reflujo gastroesofágico (ERGE) en niños</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-SintomasAlergia.png">
      </ion-thumbnail>
      <ion-label>Síntomas de alergia alimentaria en niños</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-OsteoporosisColumna.png">
      </ion-thumbnail>
      <ion-label>Osteoporosis y sus efectos en la columna vertebral</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon> 
    </ion-item>

    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-HipersensibilidadAlimentaria.png">
      </ion-thumbnail>
      <ion-label>Hipersensibilidad alimentaria</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-MatrizOsea.png">
      </ion-thumbnail>
      <ion-label>Matriz ósea</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-DiabetesMellitus.png">
      </ion-thumbnail>
      <ion-label>Diabetes mellitus</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-ComplicacionesDiabetesMellitus.png">
      </ion-thumbnail>
      <ion-label>Complicaciones de la diabetes mellitus</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon> 
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-ModelosFisiopatologia.png">
      </ion-thumbnail>
      <ion-label>Modelos de la fisiopatología del síndrome del Intestino Irritable (IBS)</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-RetinopatiaDiabetica.png">
      </ion-thumbnail>
      <ion-label>Retinopatia diabética</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-NeuropatiaDiabetica.png">
      </ion-thumbnail>
      <ion-label>Neuropatía diabética periférica</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon> 
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-thumbnail slot="start">
      <img src="../assets/images/miniatura-OrganosAfectados.png">
      </ion-thumbnail>
      <ion-label>Organos afectados por la malnutrición severa en niños</ion-label>
      <ion-icon color="primary" slot="end" name="share" mode="md"></ion-icon> 
    </ion-item>

  </ion-list>

</ion-content>
