<app-header></app-header>
<app-navigation-header titulo="Atlas"></app-navigation-header>

<ion-content class="ion-padding">
    <ion-list>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          El octeto ominoso
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Control glucémico
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Fisiología del GLP-1: regulación y acciones
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Diabetes tipo I y II
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Fisiopatologia DM1
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          La glucosa en el paciente con DM2
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Fisiopatología DM2
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Reabsorción renal de glucosa
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Complicaciones de la diabetes
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Rango glucosa en sangre
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Pie dibético
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Neuropatía diabética
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Síntomas en deficiencia de vitamina B
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Síntomas en deficiencia de vitamina D
        </ion-label>
      </ion-item>
      <ion-item class="listaResultadosBusqueda" detail routerLink="/" color="tertiary">
        <ion-label>
          Tratamiento neuropatía diabética
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>



