<app-header></app-header>
<app-navigation-header titulo="Guías de práctica clínica"></app-navigation-header>

<ion-content class="ion-padding">
    
    <ion-list>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Diagnóstico y tratamiento de diabetes mellitus en el adulto mayor vulnerable
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Guía de evidencia y recomendaciones: Diagnóstico y tratamiento de la diabetes en el embarazo
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Guía de referencia rápida: Diagnóstico y tratamiento de la diabetes en el embarazo
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Diagnóstico y tratamiento de la dispepsia funcional
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Diagnóstico y tratamiento de la intolerancia a la lactosa en niños
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Guía de evidencia y recomendaciones: Diagnóstico y tratamiento de osteoporosis en el adulto
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Guía de referencia rápida : Diagnóstico y tratamiento de osteoporosis en el adulto
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Guía de evidencia y recomendaciones: Diagnóstico y tratamiento de osteoporosis en mujeres posmenopáusicas
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Guía de referencia rápida: Diagnóstico y tratamiento de osteoporosis en mujeres posmenopaúsicas
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Diagnóstico y tratamiento del intestino irritable en el adulto
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Diagnóstico y tratamiento del reflujo gastroesofágico y de la enfermedad por reflujo gastroesofágico en pediatría, en el primer y segundo nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Diagnóstico y tratamiento quirúrgico de la enfermedad diverticular del colon
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Diagnóstico y tratamiento quirúrgico de la enfermedad por reflujo gastroesofágico en el adulto
            </ion-label>
        </ion-item>



        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Diagnóstico, metas de control ambulatorio y referencia oportuna de prediabetes y diabetes mellitus tipo 2 en adultos en el primer nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Diagnóstico, tratamiento y referencia oportuna de la diabetes mellitus en el niño y adolescente en el segundo y tercer nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Guía de evidencia y recomendaciones: Dietoterapía y alimentos. Paciente con diabetes mellitus
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Guía de referencia rápida: Dietoterapia y alimentos. Paciente con diabetes mellitus
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Evaluación, diagnóstico y tratamiento de sarcopenia para población adulta mayor en el primer nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Guía de evidencia y recomendaciones: Intervenciones de enfermería en la atención de la paciente con diabetes mellitus gestacional en el primero, segundo y tercer nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Intervenciones de enfermería para el control de la diabetes mellitus tipo 2 en la población adulta en el primer nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Intervenciones de Enfermería para el cuidado del paciente pediátrico con enfermedad del reflujo gastroesofágico
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Intervenciones de Enfermería para el cuidado del paciente pediátrico con enfermedad del reflujo gastroesofágico
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Intervenciones de enfermería para la detección oportuna, el control y limitación del daño por diabetes mellitus tipo 1 y tipo 2 en la población mayor de 12 años
            </ion-label>
        </ion-item>



        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Intervenciones de Enfermería para la prevención de complicaciones crónicas en pacientes con diabetes mellitus en el primer nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Prevención y diagnóstico de la diabetes mellitus tipo 2 en el paciente pediátrico en el primer nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Guía de evidencia y recomendaciones: Prevención y tratamiento de la osteoporosis inducida por glucocorticoides
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Guía de referencia rápida: Prevención y tratamiento de la osteoporosis inducida por glucocorticoides
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Prevención, diagnóstico y tratamiento de diarrea aguda en adultos en el primer nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Prevención, Diagnóstico y Tratamiento de la Diarrea Aguda en Niños de Dos meses a Cinco años en el primer y segundo Nivel de Atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Profilaxis, diagnóstico y tratamiento de gastritis aguda (erosiva) en adultos en los tres niveles de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Rehabilitación del paciente adulto amputado de extremidad inferior por diabetes mellitus en el 2do y 3er nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Síndrome de intestino corto, tratamiento médico-nutricional
            </ion-label>
        </ion-item>
        
        
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Tratamiento de la diabetes mellitus tipo 2 en el primer nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Tratamiento quirúrgico de oclusión intestinal por adherencias postquirúrgicas en el adulto en segundo nivel de atención
            </ion-label>
        </ion-item>
        <ion-item color="tertiary">
            <ion-icon color="primary" slot="start" name="share" mode="md"></ion-icon>
            <ion-label>
                    Tratamiento quirúrgico del infarto e isquemia intestinal en el segundo y tercer nivel de atención
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
